
* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.navbar {
  background-color:rgb(18, 143, 150);
  color: white;
}

#header {
  font-size: 2em;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content {
  border: 1px solid black;
  padding: 10px 10px 5px;
  background-color: rgb(218, 205, 178);
  margin: 10px auto;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}


