
* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

#header {
  font-size: 1.75em;
  text-align: center;
  margin-top: 5%;
}

.content {
  margin: 2% 10px 10px 10px;
}

p {
  border: 1px solid black;
  float: left;
  padding: 30px 10px;
  background-color: blanchedalmond;
  width: 30%;
  position: relative;
  margin: 1%;
  left: 2%;
}

p span {
  position: absolute;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(218, 80, 16);
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
  width: 30%;
  text-align: center;
  font-size: 1.25em;
}

#p2 span {
  background-color: cornflowerblue;
}

#p3 span {
  background-color: rgb(255, 28, 206);
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1, #p2 {
    width: 46%;
  }

  #p3 {
    width: 94%
  }

  #p3 span {
    width: 15%
  }

}

/********** Small devices only **********/
@media (max-width: 767px) {
  p {
    clear: both;
    width: 94%;
  }
}